@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #faf7fc;
}
